{% extends "base.html" %}
{% block content %}
<div class="myDiv">

    <table align="center">
        <tr>
            <td align="center"><img src="../static/beer_PNG2376.png" width="20" height="40"></td>
            <td class="display-6">The Beer Scoreboard</td>
            <td align="center"><img src="../static/beer_PNG2376.png" width="20" height="40"></td>
        </tr>
    </table>
    <hr class="myHr">
    <table width="100%">
        <tr>
            <th class="left-th">Race</th>
            <th>Greg</th>
            <th>Bob</th>
        </tr>
        <tr>
            <td class="left-td">Daytona 500</td>
            <td>Blaney 30th</td>

            <td>Keselowski 13th &nbsp;&nbsp;<img src="../static/beer_PNG2376.png" width="10" height="20"></td>
        </tr>
        <tr>
            <td class="left-td">Daytona</td>
            <td>Blaney 15th &nbsp;&nbsp;<img src="../static/beer_PNG2376.png" width="10" height="20"></td>

            <td>Elliot 21st</td>
        </tr>
        <tr>
            <td class="left-td">Total Beers Owed</td>
            <td>0</td>
            <td>0</td>
        </tr>
    </table>

    <ul>
        <br><br>
        <blockquote class="blockquote">
            <p><h6>Greg owes 1 <img src="../static/beer_PNG2376.png" width="10" height="20"> to Sweeney</h6></p>
        </blockquote>
    </ul>
    <h6 align="right">Powered by a Python</h6>
</div>
{% endblock %}